@import "/bulma/utilities/initial-variables";

$primary: #125A63;
$red: #A2251B;
$green: #689619;
$grid-gap: 0.75rem;
$gutter: 0.75rem;
$table-cell-padding: $grid-gap;
$tabs-link-padding: 0.75rem 1rem;
$table-row-hover-background-color: none;
$padding: $grid-gap * 2;
$bg-color: #01060E;

//$control-padding-vertical: 1.25rem;
//$control-padding-horizontal: 1.25rem;
